/* Global Print CSS Document - 11-07-2012 16:51 */
@charset "utf-8";
@media print {
body,.copyright{background:none}
a:link,a:visited{text-decoration:none}

.cm .tabs,.tabs a,.cm .tabshlt,.tabshlt,.backgroundRightArrow{background:#FFF}
.calloutA,ul.viewSwitch li a {border-color:#D6D6D6;border-width:1pt}
.formBox .inset,.inset,.tabs a{box-shadow:inset 0px 20px 15px -20px #fff;-moz-box-shadow:inset 0px 20px 15px -20px #fff;-webkit-box-shadow:inset 0px 20px 15px -20px #fff}

/*Header */
header{border-bottom:none !important; height:120px;height:1%}
header .logo{text-indent:0em;height:auto !important}
header .logo a{background:none;display:block;position:relative;height:auto !important}
header .logo a img{display:block}

/* Global Utility */
.pagecontent .contentcol,.content.threeCol .pagecontent .contentcol .contentleftcol,.rightcol,.contentrightcol{float:none !important}
.pagetitle h1{position:relative}
.cnumber{padding-top:0}
.content{width:auto}
.drop {box-shadow:none}

/* Content Module */
.cm .hd,.panels a{background:#fff;color:#333 !important}
.cm .collapsed{border-bottom:0px !important}
div.cm .inset,.formBox .inset,.formBox{background:#fff !important;color:#333;border:1pt solid #d6d6d6}
.panels .hd{border:0px solid #d6d6d6 !important;border-bottom-width:1pt !important}

/* Tabs */
.tabscontent .bd {border:0 none}
.tabscontent{display:inline-block !important}
.tabs {border-bottom-width:1pt}
.tabs a {border:0}
.tabs li a.selected,html.ie6 .tabs li a.selected {border-color:#d6d6d6 !important; border-style:solid !important;border-width:1pt 1pt 0 !important;padding:11px 15px}
ul.tabshlt{border-top-color:#fff !important}
.tabshlt li a.selected,html.ie6 .tabshlt a.selected{border-color:#333;border-bottom-width:0px}

/*Table*/
table.beneficiaries tbody td,.shd4{background-color:#fff !important}
table.beneficiaries tr.addBeneficiary td.personalData,table.beneficiaries tr.addBeneficiary td.percentInput,table.beneficiaries tr.addBeneficiary td.utilBar{border-color:#d6d6d6}
table.choices td, table.choices th{border-style:solid}
table.funds tbody td{border-color:#eee;border-style:solid;border-width-top:1pt;border-width-bottom:1pt}
table.styleA th,table.styleB th,table.styleC th,table.styleD th,table.summary th,table.styleA tr.category td{background-color:#fff;border-bottom:1pt solid #d6d6d6;color:#333}
.pagination .pages{border:1pt double #d6d6d6; border-width:1px 0;}
/* Button */
.btn,.btn2,.btn3,.btn4{text-shadow:none !important}
.btn span,.btn2 span,.btn3 span,.btn4 span,.btnOff span,.btnSmall span{color:#999 !important; border-width:1pt !important}
.btnSmall span.icon {display:none !important}

/* Icon */
.tipLink2{border-bottom:0px;color:#333}
a.learnMore,a.edit,a.pdfDownload,a.printBtn{display:none !important;visibility:hidden !important}
.newWindow,a.collapsed,a.expanded{padding:0px !important}
.newWindow .icon,.icnewWindow{width:0px}
.clearLink .icon,.icclearLink{background:none;font-size:10px;height:auto;margin-top:0;top:0;width:auto}
.up .icon,.down .icon,.addLink .icon,.icaddLink,.showMoreLink .icon,.minusLink .icon,.icminusLink,.showLessLink .icon,.closeLink .icon,.iccloseLink,.deleteIcon .icon,.icdeleteIcon{background:none;font-size:12px;height:auto;margin-top:0;top:0;width:auto}
a.collapsed .icon,a.expanded .icon,.infoModule a.closeLink .icon,.successModule a.closeLink .icon,.noticeModule a.closeLink .icon,.infoModule a.expanded .icon,.noticeModule a.expanded .icon{background:none;font-size:12px}

/* highcharts print */
table.chartTable td span.brokerageAccount,td span.brokerageAccount,table.chartTable td span.brokerageChartClr,td span.brokerageChartClr,table.chartTable td span.equities,td span.equities,table.chartTable td span.guaranteed,td span.guaranteed,table.chartTable td span.fixedIncome,td span.fixedIncome,table.chartTable td span.multiAsset,td span.multiAsset,table.chartTable td span.moneyMarket,td span.moneyMarket,table.chartTable td span.realEstate,td span.realEstate,table.chartTable td span.stFixedIncome,td span.stFixedIncome,table.chartTable td span.intEquities,td span.intEquities,
table.chartTable td span.other,td span.other,table.chartTable td span.piecl1,td span.piecl1,table.chartTable td span.piecl2,td span.piecl2,table.chartTable td span.piecl3,td span.piecl3,table.chartTable td span.piecl4,td span.piecl4,table.chartTable td span.piecl5,td span.piecl5,table.chartTable td span.piecl6,td span.piecl6,table.chartTable td span.piecl7,td span.piecl7,table.chartTable td span.chart-blue,td span.chart-blue,table.chartTable td span.chart-green,td span.chart-green{border-radius:0!important;border-width:6px !important;border-style:solid !important;display: block;height: 0px!important;width: 0px!important;line-height:0;font-size:0}

.highcharts-container .infoHover .bd,.bgexpanded{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.highcharts-container .infoHover .pointer{height:2px;margin-top:-1px;background:#fff}
.legendFundsContainer,.legendPointer{border-color:#d6d6d6 !important}
.legendPointer{height:11px;background:none;border-right:2px solid #d6d6d6 !important;border-bottom:3px solid #d6d6d6 !important}
.ui-slider-handle{border:1px solid #a6a6a6}

/* Alerts */
/*.infoModule, .successModule, .noticeModule, .messageModule, .alertModule {background-color:#fff; border:5px double #333}*/
.infoModule .icon:after,.alertModule .icon:after{content:"i"}
/*.notice{padding:20px 0px !important;color:#333 !important}*/
.infoModule .icon,.noticeModule .icon,.noticeIcon{top:3px;height:2em;padding-left:.4em;background:transparent;color:#000;font-size:2em;font-weight:bold}
.noticeModule .icon:after,.noticeIcon:after{content:"!"}

ul.success li{padding-left:1em;background:none}
ul.success li:before,.successModule .icon:after{content:"\2713\2003"}

/* Forms */
input[type="text"],input[type="number"],input[type="password"],input[type="email"],input[type="tel"],input[type="number"],input[type="date"],select,textarea{background:#fff;box-shadow:inset 0px 0px 0px 0px #fff;-moz-box-shadow:inset 0px 0px 0px 0px #fff;-webkit-box-shadow:inset 0px 0px 0px 0px #fff}
.alertHighlight input[type="text"],.alertHighlight input[type="number"],.alertHighlight input[type="password"],.alertHighlight input[type="email"],.alertHighlight input[type="tel"],.alertHighlight input[type="date"],.alertHighlight select,.alertHighlight textarea
{border:2px solid #BC1C34 !important}

/* Progress Bar */
.progressBar li a{color:#aaa}
.progressBar li.selected a{padding:5px;color:#333;border:1pt solid #d9d9d9}

/* Project Specific */
.disabled,a.btnOff,button.btnOff,input.btnOff{opacity:1.0}
.tier div {width:100%;float:none;clear:left}
.tier div.evenRow a, .tier div.oddRow a{float:none}
.tier h4{width:100%;margin-left:10px;background-color:#fff !important;color:#333 !important;border-bottom:2px solid #333 !important}

#investmentOneStepTab,.investmentOneStepTab{border-right-width:1px !important}
div.investments ul.tabs li{width:300px;border-color:#fff !important}
div.investments ul.tabs li.selected{border-color:#d6d6d6 !important;border:2px solid #d6d6d6 !important}

#investments li{color:#aaa}
#investments li,#investments li.selected{width:45%;background-color:#fff;background-image:none;border-right-width:1pt !important}
#investments li.selected{color:#333; border:3px solid #000 !important}
#investmentMixTab{float:right}
#investmentMix,#investmentOneStep{border-top-width:1pt !important}
#sidebar{position:relative !important;top:auto !important;margin-bottom:20px}

/* Display None */
.content.twoColL .pageheader,.content.twoCol .pageheader,.content.twoColW .pageheader,.content.twoColN .pageheader,.content.oneCol .pageheader,.globalsearch,ul.l1nav,ul.l2nav,.breadcrumbs,.pageutil,.footerlinks,.copyright ul.hnavList,.leftcol,.lastlogin,.utillinks,.indicator span,.tipLink{display:none !important;visibility:hidden !important}
}