@charset "utf-8";

.XfutureUse{display:none !important;visibility:hidden;height:0%;overflow:hidden;font-size:0px;}

#tooltip{cursor:pointer;}
#tooltip .popup-close{display:inline;visibility:visible;height:auto;overflow:auto;font-size:13px;}
#tooltip .popup-close-icon{height:22px;background:url(../images/sprite_icon.png) -142px -348px no-repeat;}
.tipLink{padding:6px 7px 2px 3px;} /* tipLink icon small; increase size for easier clicking at default size */
