/*! Global Responsive-adaptive Styles | Styles for device width less than 768px */
/* Progress Indicator */
ul.progress-indicator[data-indicator-steps="4"] {
  width: 100%;
}
ul.progress-indicator[data-indicator-steps="3"] {
  width: 100%;
}
ul.progress-indicator > li span.progress-indicator-step-label {
  display: none;
}
