/* Account Home Portfolio Report CSS Document */

body {background:#fff;background-image:none;/*display:none;*/}

body, a:link, a:visited, a:hover,h1,h2,h3,h4,h5,h6,.up,.down {color:#000}
h1,h2,h3,h4,h5 {margin-bottom:15px;font-weight:bold}
h1{font-size:16px}
h2{text-transform:uppercase; font-size:18px}
h3{font-size:12px}
hr{border:2px solid #999;background:#999}

.txtxlg {font-size:22px !important}
.legal {font-size: 10px !important; color:#000 !important}
.asofdt {text-transform:none;color:#000 !important; font-weight:normal !important; font-size:11px !important}

#container {background:none}
.header {height:100px}
.header .logo {padding:10px; position:absolute}
.header .utility {padding:10px}
.header .utility span {display:block;text-align:right}
.header .utility .username {font-size:20px;font-weight:bold}
.header .utility .statementtype{font-size:14px}
.header .utility .asofdt {font-size:12px !important}

/* ------ 13. Tables ------ */
th {font-size:10px}
td {font-size:11px}
tr.category td {color:#000}
.odd, tr.odd, tr.odd td {background:#fff}
.even, tr.even, tr.even td {background:#fff}
tr.subtotal td, td.subtotal{border-top:1px solid #ccc !important;font-weight:bold} 
tr.total, tr td.total, tr.total td{border-bottom:none !important;border-top:1px solid #ccc !important;font-weight:bold}
tr.rowHighlight {background:#fff !important}

/* summary bar */
table.summarybar td  {border-left:1px dotted #ccc}

/* table small summary */
table.summary {font-size:small}
table.summary th {text-transform:uppercase;text-align:left;color:#000}
table.summary th, table.summary td {border-bottom:1px solid #ccc}
table.summary tr.total td, table.summary tr td.total {border-top:1px solid #ccc !important;border-bottom:1px solid #ccc !important}
table.summary tr.detail td table td, table.summary tr.detail table th {border-bottom:1px solid #ccc}

/*table styleA, default */
table.styleA th {border:none;padding:5px 8px;border-bottom:1px solid #ccc;border-top:1px solid #ccc;font-size:10px}
table.styleA thead {background:#fff;color:#000}
table.styleA td {border-bottom:1px solid #ccc;padding:5px 8px}
table.styleA tr.category td {color:#000}

/*table chartTable */
table.chartTable {font-size: small; width:auto}

table.chartTable td span.brokerageAccount, td span.brokerageAccount, table.chartTable td span.equities, td span.equities, table.chartTable td span.guaranteed, td span.guaranteed, table.chartTable td span.fixedIncome, td span.fixedIncome, table.chartTable td span.multiAsset, td span.multiAsset, table.chartTable td span.moneyMarket, td span.moneyMarket, table.chartTable td span.realEstate, td span.realEstate, table.chartTable td span.other, td span.other, table.chartTable td span.piecl1, td span.piecl1, table.chartTable td span.piecl2, td span.piecl2, table.chartTable td span.piecl3, td span.piecl3, table.chartTable td span.piecl4, td span.piecl4, table.chartTable td span.piecl5, td span.piecl5, table.chartTable td span.piecl6, td span.piecl6, table.chartTable td span.piecl7, td span.piecl7 {border-radius:0!important;border-width:6px !important;border-style:solid !important;display: block;height: 0px!important;width: 0px!important;line-height:0;font-size:0}
.equities,.bd .equities{background-color:#000 !important;color:#000!important; border-color:#000!important}
.fixedIncome,.bd .fixedIncome{background-color:#333 !important;color:#333!important; border-color:#333!important}
.guaranteed,.bd .guaranteed{background-color:#666 !important;color:#666!important; border-color:#666!important}
.moneyMarket,.bd .moneyMarket{background-color:#999 !important;color:#999!important; border-color:#999!important}
.multiAsset,.bd .multiAsset{background-color:#CCC !important;color:#CCC!important; border-color:#CCC!important}
.realEstate,.bd .realEstate{background-color:#BBB !important;color:#BBB!important; border-color:#BBB!important}
.other,.bd .other{background-color:#AAA !important;color:#AAA!important; border-color:#AAA!important}


.legal p {margin-bottom:10px}
.legal p:last-child{margin-bottom:0;}