*						{padding:0%;margin:0%;border:0px;outline:none;font-weight:inherit;font-style:inherit;font-size:1em;font-family:inherit;vertical-align:baseline;}
*:focus					{outline:none;}
form *					{margin:auto;}
b, strong				{font-weight:bold;}
i						{font-style:italic;}
a						{color:#3f9dd6;text-decoration:none;}

body					{background:transparent url('../images/bg_body.png') repeat;color:#5d707f;font-family:arial, sans-serif;font-size:76%;line-height:1.2;}

h1						{margin-top:-12px;font-size:1.8em;}
p						{margin-top:1em;}
option					{padding:0px 2px;}
select					{margin:0px 15px 0px 5px;border:1px solid #ddd;color:#444;}

/* padding related */
.p,tr.p td				{padding:10px !important;}
.ps,tr.ps td			{padding:5px !important;}
.pm,tr.pm td			{padding:15px !important;}
.plg,tr.plg td			{padding:20px !important;}
.ptb					{padding-top:10px !important;padding-bottom:10px !important;}
.ptbs					{padding-top:5px !important;padding-bottom:5px !important;}
.ptbm					{padding-top:15px !important;padding-bottom:15px !important;}
.ptblg					{padding-top:20px !important;padding-bottom:20px !important;}
.plr					{padding-left:10px !important;padding-right:10px !important;}
.plrs					{padding-left:5px !important;padding-right:5px !important;}
.plrm					{padding-left:15px !important;padding-right:15px !important;}
.plrlg					{padding-left:20px !important;padding-right:20px !important;}
.pt						{padding-top:10px !important;}
.pts					{padding-top:5px !important;}
.ptm					{padding-top:15px !important;}
.ptlg					{padding-top:20px !important;}
.pr						{padding-right:10px !important;}
.prs					{padding-right:5px !important;}
.prm					{padding-right:15px !important;}
.prlg					{padding-right:20px !important;}
.pb						{padding-bottom:10px !important;}
.pbs					{padding-bottom:5px !important;}
.pbm					{padding-bottom:15px !important;}
.pblg					{padding-bottom:20px !important;}
.pl						{padding-left:10px !important;}
.pls					{padding-left:5px !important;}
.plm					{padding-left:15px !important;}
.pllg					{padding-left:20px !important;}
.np,tr.np td			{padding:0 !important;}
.npt					{padding-top:0 !important;}
.npr					{padding-right:0 !important}
.npb					{padding-bottom:0 !important}
.npl					{padding-left:0 !important}

/* margin related */
.m,tr.m td				{margin:10px !important;}
.ms,tr.ms td			{padding:5px !important;}
.mm,tr.mm td			{margin:15px !important;}
.mlg,tr.mlg td			{margin:20px !important;}
.mtb					{margin-top:10px !important;margin-bottom:10px !important;}
.mtbs					{margin-top:5px !important;margin-bottom:5px !important;}
.mtbm					{margin-top:15px !important;margin-bottom:15px !important;}
.mtblg					{margin-top:20px !important;margin-bottom:20px !important;}
.mlr					{margin-left:10px !important;margin-right:10px !important;}
.mlrs					{margin-left:5px !important;margin-right:5px !important;}
.mlrm					{margin-left:15px !important;margin-right:15px !important;}
.mlrlg					{margin-left:20px !important;margin-right:20px !important;}
.mt						{margin-top:10px !important;}
.mts					{margin-top:5px !important;}
.mtm					{margin-top:15px !important;}
.mtlg					{margin-top:20px !important;}
.mr						{margin-right:10px !important;}
.mrs					{margin-right:5px !important;}
.mrm					{margin-right:15px !important;}
.mrlg					{margin-right:20px !important;}
.mb						{margin-bottom:10px !important;}
.mbs					{margin-bottom:5px !important;}
.mbm					{margin-bottom:15px !important;}
.mblg					{margin-bottom:20px !important;}
.ml						{margin-left:10px !important;}
.mls					{margin-left:5px !important;}
.mlm					{margin-left:15px !important;}
.mllg					{margin-left:20px !important;}
.nm,tr.nm td			{margin:0 !important;}
.nmt					{margin-top:0 !important;}
.nmr					{margin-right:0 !important}
.nmb					{margin-bottom:0 !important}
.nml					{margin-left:0 !important}
				

.section				{margin-top:20px !important;}
.absr					{right:0px;}
.absl					{left:0px;}
.block					{display: block !important;}
.rel					{position: relative !important;}
.abs					{position: absolute !important;}
.flr					{float:right !important;}
.fll					{float:left !important;}

.closed					{display:none;} /* used with jQuery animations */
.hidden					{display:none !important;visibility:hidden;height:0%;overflow:hidden;font-size:0px;} /* thorough cross-browser */
.visible 				{display:block !important;visibility:inherit !important}
.clear 					{clear:both !important;}

img.bdr					{padding:3px !important;border:1px solid #d6d6d6 !important;background:#fff !important;}
img.fll					{margin:0 15px 10px 0;}
img.flr					{margin:0 0 10px 15px;}

.nbdr,tr.nbdr td		{border:none !important;} /* remove border from elements */
.bdr					{border:1px solid #d6d6d6 !important;} /* apply border around any element */
.lsep					{border-left:1px solid #d6d6d6;}
.rsep					{border-right:1px solid #d6d6d6;}
.tsep, tr.tsep td		{border-top:1px solid #d6d6d6 !important;} 
.bsep, tr.bsep td		{border-width:0 0 1px 0;border-color:#d6d6d6;border-style:solid;} 
.lrsep, tr.lrsep td 	{border-width:0 1px !important;border-color:#d6d6d6;border-style:solid;}
.tbsep, tr.tbsep td 	{border-width:1px 0 !important;border-color:#d6d6d6;border-style:solid;}
.dotted, tr.dotted td	{border-style:dotted !important;}

/* Text */
.txtn					{font-weight:normal !important;}
.txts					{font-size:11px !important;}
.txtm					{font-size: 14px !important; }
.txtlg					{font-size:16px !important;}
.txtxlg					{font-size:22px !important;}
.txtt, .asofdt, .legal	{font-size: 10px !important;}		
.txtlt, .asofdt, .legal	{color:#666 !important;}
.asofdt					{text-transform:uppercase}
.txtsub					{text-transform:upper;font-size:11px;color:#666;}
.txthlt					{color:#93328e !important;font-weight:bold !important;}
.txthlt2				{color:#004f9a !important;font-weight:bold !important;}

.nounderline, .nounderline a, .nounderline a:visited {text-decoration:none !important;}

.txtl					{text-align:left !important;}
.txtr					{text-align: right !important;}
.txtc					{text-align:center !important;}
.alignt					{vertical-align:top !important;}
.alignm					{vertical-align:middle !important;}
.alignb					{vertical-align:baseline !important;}
.txtb					{font-weight:bold !important;}
.txtupper				{text-transform:uppercase !important;}
.txtncase				{text-transform:none !important;}
.txtlower				{text-transform:capitalize !important;}

/* grids */
.col50-50 .col			{width:48.5%;float:right;}
.col50-50 .first 		{float:left;}
.col33-33-33 .col 		{margin-left:1.99%;width:31.5%;float:left;}

.col33-66 .col 			{width:64%;float:right;}
.col33-66 .first		{width:32%;float:left;}

.col40-60 .col			{width:59%;margin-left:2%;float:left;}
.col40-60 .first		{width:38%;float:left;}
.col60-40 .col			{width:38%;margin-left:2%;float:left;}
.col60-40 .first		{width:59%;float:left;}

.col66-33 .col			{width:32%;float:right;}
.col66-33 .first		{width:66%;float:left;}

.col25-75 .col			{width:74.2%;float:right;}
.col25-75 .first		{width:24%;float:left;}

.col75-25 .col			{width:24%;float:right;}
.col75-25 .first		{width:74.2%;float:left;}

.col50-50 .first, .col33-33-33 .first, .col33-66 .first, .col66-33 .first, .col25-75 .first, .col40-60 .first, .col60-40 .first {margin-left:0;}
.col50-50, .col33-33-33, .col33-66, .col66-33, .col25-75, .col40-60, .col60-40 {height:1%;} /*IE6 FIX*/
.col50-50:after, .col33-33-33:after, .col33-66:after, .col66-33:after, .col25-75:after, .col40-60:after, .col60-40:after, .col33-33-33Sep:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.col33-33-33Sep			{height:1%}
.col33-33-33Sep .col	{margin-left:3%;width:31.9%;float:left;}
.col33-33-33Sep .first 	{margin-left:0;border:none;width:30%}
.col33-33-33Sep .col .content {border-left:1px dotted #d6d6d6;padding-left:20px;}
.col33-33-33Sep .first .content {border:0;padding-left:0px;}
/* end grids */


#eligibility span {display:inline-block;float:left;width:45%;}
#index ul {clear:both;padding:.5em 1em; margin:0 0 0 200px;}
#index ul ul {padding-top:0px;padding-left:0em;margin:0px;}
#index ul ul ul {padding:.1em 0em 0em 1em;}
#index ul li {padding-top:.6em;margin:0em;list-style-type:square;font-weight:bold;}
#index ul ul li {padding:0em;margin-left:0em;list-style-type:none;font-weight:normal;}
#index ul li ul li {padding-top:.5em;}
#index ul li ul li li {padding-top:0em;}
#index ul ul li a, #index ul ul li span {background: url("../images/img_tcpub_bullet_products.png") no-repeat scroll 0 6px transparent;    padding-left: 7px;}

.subtitle {color:#bbb;font-size:.5em;}

#container {width:1024px;margin:0px auto;background:#fff;}
#footerIndex, #headerIndex, #content {padding:10px 40px 13px 50px;}
#footercontainer {display:none;}
#footerIndex {padding-bottom:30px;color:#8b8c8c;font-size:.8em; margin:0 auto; width:1024px}
#headerIndex {width:975px;height:60px;padding:10px 0px 13px 50px;border-bottom:5px solid #19B1E3; height:auto}

#logo {display: block;float: left;height: 76px;position: relative;top: 0;width: 180px;background:transparent url("../images/logo_tiaa.png") no-repeat 0px -15px;}
#content {padding-top:.5em; min-height:350px;}

.cc {padding:0 20px;}