/* November (11) Release CSS Document *//* Global Tablet CSS Document - 01-24-2014 14:02 */
@charset "utf-8";
/* Tool Tips */#tooltip{cursor:pointer}#tooltip .popup-close{display:inline;visibility:visible;height:auto;overflow:auto;font-size:13px}#tooltip .popup-close-icon{height:18px;background:url(../images/sprite_icon.png) -120px -104px no-repeat;width:16px}.tipLink{padding:6px 7px 2px 3px}
/* scrolling element */div.scrollContainer{position:relative;z-index:1;width:100%;height:208px;overflow:auto}div.scrollContainer div{width:98%;height:auto;padding-bottom:2em}